apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "app.fullname" . }}
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "app.fullname" . }}
roleRef: { apiGroup: rbac.authorization.k8s.io, kind: Role, name: {{ include "app.fullname" . }} }
subjects: [{ kind: ServiceAccount, name: {{ include "app.serviceAccountName" . }} }]
