apiVersion: v1
kind: Secret
metadata:
  name: {{ include "app.fullname" . }}
  labels: {{- include "app.labels" . | nindent 4 }}
type: Opaque
stringData:
  GITLAB_TOKEN: {{ required "gitlab.token is required" .Values.gitlab.token | quote }}
  GITLAB_WEBHOOK_SECRET: {{ required "gitlab.webhookSecret is required" .Values.gitlab.webhookSecret | quote }}
  {{- with .Values.github.token }}
  GITHUB_TOKEN: {{ . | quote }}
  {{- end }}
  {{- with .Values.controller.copilotProviderApiKey }}
  COPILOT_PROVIDER_API_KEY: {{ . | quote }}
  {{- end }}
